@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #0e0e0e;
  --color-surface-lowest: #000000;
  --color-surface-low: #131313;
  --color-surface: #191919;
  --color-surface-high: #1f1f1f;
  --color-surface-highest: #262626;
  
  --color-primary: #b1fa50;
  --color-primary-container: #77bb04;
  --color-nvidia-green: #76B900;
  
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #ababab;
  --color-outline-variant: #484848;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer utilities {
  .glow-border {
    border: 1px solid transparent;
    background: linear-gradient(#131313, #131313) padding-box,
                linear-gradient(135deg, #76B900, transparent) border-box;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

::selection {
  background-color: var(--color-primary);
  color: #000;
}

details > summary::-webkit-details-marker {
  display: none;
}
